:root{
    --gap: 1em;
    --index: calc(1vw + 1vh);
    --color-dark: #000;
}
.button{
    display: inline-block;
    padding: 5px 10px;
    font-size: calc(var(--index) * .9);
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
}
.button:hover{
    box-shadow: 5px 3px 3px #8300cc;
    color: #8300cc;
}