:root{
    --gap: 1em;
    --index: calc(1vw + 1vh);
    --color-dark: #000;
}
.header{
    background-color: #fff;
    border-top: 4px solid #000; 
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.inner{
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #000;
    font-weight: 600;
    font-size: calc(var(--index) * 1.1);
    text-transform: none;
    cursor: pointer;
}
.logo:hover{
    color: #8300cc;
}