.footer{
    background-color: #fff;
    border-bottom: 3px solid #000;
    height: 38px;
    text-align: end;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.subtitle{
    padding-top: 6px;
    font-weight: 400;
}